
<h1>Make a Survey Link</h1>

<% @surveylink.errors.messages.each do |attr, message| %>
  <p>error on <%= attr %><%= message %></p>
<% end %>

<%= form_for(@surveylink) do |f| %>
 <%= f.label(:instruction) %><br>
  <%= f.text_field(:instruction) %><br>
  <%= f.label(:link) %><br>
  <%= f.text_field(:link) %><br>
  <%= f.label(:participant) %><br>
  <%= f.text_field(:participant) %><br>
  <%= f.label(:started) %><br>
  <%= f.text_field(:started) %><br> <%= f.label(:completed) %><br>
  <%= f.text_field(:completed) %><br>



  <%= f.submit %>
<% end %>



